@import "config";
html, body, #wrap {
	@include fillAll;
}
body {
	background-color: #ccc;
	color: #666;
	overflow: hidden;
}
.wrap {
	position: relative;
	display: none;
	perspective: 800;
}

/* 图片区域样式，控制图片的位置和旋转角度 */
.photo {
	position: absolute;
	width: $photoWidth;
	height: $photoHeight;
	cursor: pointer;
	top: 50%;
	left: 50%;
	margin: (- $photoHeight / 2) 0 0 (- $photoWidth / 2);
	transform: rotate(360deg);
	transition: all 0.6s ease-in-out;
	-webkit-tap-highlight-color: transparent;
	&.photo-center {
		z-index: 999;
	}
}

/* 图片区域样式，控制图片的翻转 */
.photo-wrap {
	position: absolute;
	@include fillAll;
	transform-style: preserve-3d;
	transform-origin: 0 50%;
	transition: transform 0.6s ease-in-out;
}
.photo-front .photo-wrap {
}
.photo-back .photo-wrap {
	transform: rotateY(180deg) translateX(-100%);
}

/* 图片区域正反面样式 */
.side {
	position: absolute;
	box-sizing: border-box;
	@include fillAll;
	top: 0;
	left: 0;
	padding: $contentPadding;
	background-color: #fff;
	
}
.side-front {
	transform: translateZ(1px);
	.image {
		position: relative;
		line-height: 0;
		@include imgSize;
		img {
			@include imgSize;
		}
	}
	.caption {
		height: $sectionHeight;
		line-height: $sectionHeight;
		text-align: center;
		font-size: 24px;
		font-weight: bold;
	}
}
.side-back {
	transform: rotateY(180deg);
	backface-visibility: hidden;
	.desc {
		@include fillAll;
		position: relative;
		padding-right: 20px;
		overflow: hidden;
		font-size: 14px;
		line-height: 20px;
		text-indent: 2em;
		text-align: justify;
	}
}

/* 控制条按钮样式 */
.nav {
	position: fixed;
	z-index: 999;
	bottom: 5%;
	left: 50%;
	margin-left: - $navWidth / 2;
	width: $navWidth;
	height: $navHeight;
	font-size: 0;
	text-align: center;

	.dot {
		display: inline-block;
		width: $dotWidth;
		height: $dotHeight;
		font-size: 16px;
		background-color: #999;
		border-radius: 50%;
		cursor: pointer;
		vertical-align: middle;
		line-height: 30px;
		-webkit-font-smoothing: antialiased;
		color: #fff;
		transform: scale(0.6);
		transition: all 0.6s ease-in-out;
		&.current {
			transform: scale(1);
			&.back {
				background-color: #666;
				transform: rotateY(180deg);
			}
		}
	}
}


.ps:hover.ps--in-scrolling.ps--x>.ps__scrollbar-x-rail, .ps:hover.ps--in-scrolling.ps--y>.ps__scrollbar-y-rail, .ps:hover>.ps__scrollbar-x-rail:hover, .ps:hover>.ps__scrollbar-y-rail:hover {
	background-color: transparent;
}



@media screen and (max-width: 700px) {
	.photo {
		width: 40%;
		height: 0;
		padding-top: 46%;
		margin: -23% 0 0 -20%;
	}
	.photo-wrap {
		top: 0;
		left: 0;
	}
	.side {
		padding: 5%;
	}
	.side-front .image {
		width: 100%;
		height: 0;
		padding-top: 100%;
	}
	.side-front .image img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.side-front .caption {
		display: inline-table;
		width: 100%;
		height: 18.9%;
		line-height: 1.1;
		font-size: 16px;
	}
	.side-front .caption span {
		display: table-cell;
		vertical-align: middle;
	}


	.side-back .desc {
		padding-right: 5%;
		font-size: 14px;
		line-height: 1.5;
	}
	.ps>.ps__scrollbar-y-rail {
		width: 3%;
	}
	.ps>.ps__scrollbar-y-rail:active>.ps__scrollbar-y, .ps>.ps__scrollbar-y-rail:hover>.ps__scrollbar-y {
		width: 100%;
	}
	
	.ps>.ps__scrollbar-y-rail>.ps__scrollbar-y {
		right: 0;
	}
}


@media screen and (max-width: 550px) {
	.side-back .desc {
		font-size: 12px;
	}
	.side-front .caption {
		line-height: 1.1;
		font-size: 14px;
	}
}
